root = true

[*.cs]

# CA1710: Identifiers should not have incorrect suffix (KVObject implements IReadOnlyDictionary but is not a dictionary)
dotnet_diagnostic.CA1710.severity = none

# CA1711: Identifiers should not have incorrect suffix
dotnet_diagnostic.CA1711.severity = none

# CA1720: Identifiers should not contain type names
dotnet_diagnostic.CA1720.severity = none

# CA1852: Seal internal types
dotnet_diagnostic.CA1852.severity = none

# CA1033: Interface methods should be callable by child types
dotnet_diagnostic.CA1033.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA2225: Operator overloads have named alternates
dotnet_diagnostic.CA2225.severity = none
